################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db
/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/.vs/First/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/.vs/First/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/.vs/First/FileContentIndex/4f92cf27-6c51-46e9-b03d-05e21c7e2797.vsidx
/.vs/First/FileContentIndex/5b64058c-4857-4cdf-8cbd-db31b2b35d63.vsidx
/.vs/First/FileContentIndex/75f62fa7-82c8-4ae5-81eb-34c0617c9359.vsidx
/.vs/First/FileContentIndex/8c6264e0-6661-49b1-b42e-c2e484db6fd5.vsidx
/First/obj/Debug/net8.0/First.AssemblyInfo.cs
/First/obj/Debug/net8.0/First.AssemblyInfoInputs.cache
/First/obj/Debug/net8.0/First.assets.cache
/First/obj/Debug/net8.0/First.csproj.AssemblyReference.cache
/First/obj/Debug/net8.0/First.GeneratedMSBuildEditorConfig.editorconfig
/First/obj/Debug/net8.0/First.sourcelink.json
/First/obj/First.csproj.nuget.dgspec.json
/First/obj/project.assets.json
/First/obj/project.nuget.cache
/First.Core/obj/Debug/net8.0/First.Core.AssemblyInfo.cs
/First.Core/obj/Debug/net8.0/First.Core.AssemblyInfoInputs.cache
/First.Core/obj/Debug/net8.0/First.Core.assets.cache
/First.Core/obj/Debug/net8.0/First.Core.GeneratedMSBuildEditorConfig.editorconfig
/First.Core/obj/Debug/net8.0/First.Core.sourcelink.json
/First.Core/obj/First.Core.csproj.nuget.dgspec.json
/First.Core/obj/project.assets.json
/First.Core/obj/project.nuget.cache
/first.EF/obj/Debug/net8.0/first.EF.AssemblyInfo.cs
/first.EF/obj/Debug/net8.0/first.EF.AssemblyInfoInputs.cache
/first.EF/obj/Debug/net8.0/first.EF.assets.cache
/first.EF/obj/Debug/net8.0/first.EF.csproj.AssemblyReference.cache
/first.EF/obj/Debug/net8.0/first.EF.GeneratedMSBuildEditorConfig.editorconfig
/first.EF/obj/Debug/net8.0/first.EF.sourcelink.json
/first.EF/obj/first.EF.csproj.nuget.dgspec.json
/first.EF/obj/project.assets.json
/first.EF/obj/project.nuget.cache
