################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db
/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/.vs/First/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/.vs/First/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/.vs/First/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/.vs/First/FileContentIndex/4f92cf27-6c51-46e9-b03d-05e21c7e2797.vsidx
/.vs/First/FileContentIndex/5b64058c-4857-4cdf-8cbd-db31b2b35d63.vsidx
/.vs/First/FileContentIndex/d17288a9-030b-409d-b277-a026aed4a8aa.vsidx
/.vs/First/FileContentIndex/fa9252d0-286f-421c-8a33-c9f604f4d9c4.vsidx
/First/bin/Debug/net8.0/First.Core.dll
/First/bin/Debug/net8.0/First.Core.pdb
/First/bin/Debug/net8.0/First.dll
/First/bin/Debug/net8.0/first.EF.dll
/First/bin/Debug/net8.0/first.EF.pdb
/First/bin/Debug/net8.0/First.exe
/First/bin/Debug/net8.0/First.pdb
/First/obj/Debug/net8.0/ref/First.dll
/First/obj/Debug/net8.0/refint/First.dll
/First/obj/Debug/net8.0/apphost.exe
/First/obj/Debug/net8.0/First.AssemblyInfo.cs
/First/obj/Debug/net8.0/First.AssemblyInfoInputs.cache
/First/obj/Debug/net8.0/First.assets.cache
/First/obj/Debug/net8.0/First.csproj.AssemblyReference.cache
/First/obj/Debug/net8.0/First.csproj.CoreCompileInputs.cache
/First/obj/Debug/net8.0/First.csproj.FileListAbsolute.txt
/First/obj/Debug/net8.0/First.dll
/First/obj/Debug/net8.0/First.GeneratedMSBuildEditorConfig.editorconfig
/First/obj/Debug/net8.0/First.genruntimeconfig.cache
/First/obj/Debug/net8.0/First.pdb
/First/obj/Debug/net8.0/First.sourcelink.json
/First/obj/First.csproj.nuget.dgspec.json
/First/obj/project.assets.json
/First/obj/project.nuget.cache
/First.Core/bin/Debug/net8.0/First.Core.dll
/First.Core/bin/Debug/net8.0/First.Core.pdb
/First.Core/obj/Debug/net8.0/ref/First.Core.dll
/First.Core/obj/Debug/net8.0/refint/First.Core.dll
/First.Core/obj/Debug/net8.0/First.Core.AssemblyInfo.cs
/First.Core/obj/Debug/net8.0/First.Core.AssemblyInfoInputs.cache
/First.Core/obj/Debug/net8.0/First.Core.assets.cache
/First.Core/obj/Debug/net8.0/First.Core.csproj.CoreCompileInputs.cache
/First.Core/obj/Debug/net8.0/First.Core.csproj.FileListAbsolute.txt
/First.Core/obj/Debug/net8.0/First.Core.dll
/First.Core/obj/Debug/net8.0/First.Core.GeneratedMSBuildEditorConfig.editorconfig
/First.Core/obj/Debug/net8.0/First.Core.pdb
/First.Core/obj/Debug/net8.0/First.Core.sourcelink.json
/First.Core/obj/First.Core.csproj.nuget.dgspec.json
/First.Core/obj/project.assets.json
/First.Core/obj/project.nuget.cache
/first.EF/bin/Debug/net8.0/First.Core.dll
/first.EF/bin/Debug/net8.0/First.Core.pdb
/first.EF/bin/Debug/net8.0/first.EF.dll
/first.EF/bin/Debug/net8.0/first.EF.pdb
/first.EF/obj/Debug/net8.0/ref/first.EF.dll
/first.EF/obj/Debug/net8.0/refint/first.EF.dll
/first.EF/obj/Debug/net8.0/first.EF.AssemblyInfo.cs
/first.EF/obj/Debug/net8.0/first.EF.AssemblyInfoInputs.cache
/first.EF/obj/Debug/net8.0/first.EF.assets.cache
/first.EF/obj/Debug/net8.0/first.EF.csproj.AssemblyReference.cache
/first.EF/obj/Debug/net8.0/first.EF.csproj.CoreCompileInputs.cache
/first.EF/obj/Debug/net8.0/first.EF.csproj.FileListAbsolute.txt
/first.EF/obj/Debug/net8.0/first.EF.dll
/first.EF/obj/Debug/net8.0/first.EF.GeneratedMSBuildEditorConfig.editorconfig
/first.EF/obj/Debug/net8.0/first.EF.genruntimeconfig.cache
/first.EF/obj/Debug/net8.0/first.EF.pdb
/first.EF/obj/Debug/net8.0/first.EF.sourcelink.json
/first.EF/obj/first.EF.csproj.nuget.dgspec.json
/first.EF/obj/project.assets.json
/first.EF/obj/project.nuget.cache
